<meta charset="utf-8">

<div class="row">
			<div id="infos_deconnection" class="col-sm-offset-10 col-sm-2">
				<h5>Bonjour {{client.name}} {{client.lastname}}</h5>
				<button class="btn btn-danger">Déconnection</button>
			</div>
</div>

<!-- id="acceuilClient" -->
<div class="row container">
<!-- menuvertical id="menucentral" -->
<nav class="col-sm-3">
	<!--  Affichage des comptes dans le menu vertical à la création  donc menu change avec le nombre de compte détenu par le client-->
	<ul class="nav nav-pills nav-stacked navbar-left">
		<li class="active"><a data-toggle="pill">Mes comptes</a></li>
		<li><a data-toggle="pill" href="#compte1">Compte courant n°12345678910</a></li>
		<li><a data-toggle="pill" href="#compte2">Compte rémunéré n°98765432101</a></li>
		<li><a  data-toggle="pill">Mes opérations</a></li>
		<li><a ui-sref=".virement" href="#Effectuer_virement">Effectuer un virement</a></li>
		<li><a ui-sref=".editerRIB" href="#Editer_un_RIB">Editer un RIB</a></li>
		<!-- <a class="dropdown-toggle" data-toggle="dropdown" >Mes demandes <span class="caret"></span></a> 
		<li class="dropdown"> Mes demandes
			<ul class="dropdown-menu dropdown-menu-right">
			</ul>
		</li>
		-->
		<li><a ui-sref=".demandeChequier"  href="#Demande_modif_compte">Demander un chéquier</a></li>
		<li><a ui-sref=".demandeModifCompte"  href="#Demande_chequier">Modification de compte</a></li>
		<li><a ui-sref=".demandeOuvertureCompte"  href="#Demande_ouverture_compte">Ouverture de compte</a></li>
			
		
	</ul>
</nav>

<div class="col-sm-9">
	<!--   Menu central -->
	
	<div class="row" >
	<div class="col-sm-offset-2 col-sm-10">
		<ul class="nav nav-tabs">
			<li><a ui-sref=".mesInformations"  >Mes informations</a></li>
			<li><a ui-sref=".mesAlertes"  href="#Mes_alertes">Mes alertes</a></li>
			<li><a ui-sref=".synthese"  href="#synthese">Synthèse des comptes</a></li>
			<!--  Renvoi à la même page que "Mes comptes" du menu vertical -->
		</ul>
		</div>
	</div>
	<div class="row">	
		<div ui-view></div>
	</div>
</div>
</div>
