
<meta charset="UTF-8">
<div class="row">
	<div id="infos_deconnection" class="col-sm-offset-10 col-sm-2">
		<h5>Bonjour {{currentUser.prenom}} {{currentUser.nom}}</h5>
		<button class="btn btn-danger">Déconnection</button>
	</div>
</div>
<div class="row">

	<div>
		<ul class="nav nav-tabs">
			<li><a ui-sref=".demandesClients({demandesChequier:demandesChequier,demandesModif:demandesModif,demandesNCompte:demandesNCompte})" 
			href="#demandesClients">Gestion
					des demandes</a></li>
			<li><a ui-sref=".comptesClients({listClients:listClients})"
				href="#comptesClients">Gestion des comptes clients</a></li>
			<li><a ui-sref=".inscriptions({demandesInscription:demandesInscription})" href="#inscriptions">Gestion
					des inscriptions</a></li>
			<li><a ui-sref=".messages" href="#messages">Mes messages</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div ui-view></div>
</div>
