<div class="tab-content">
				<!-- Controllers à compléter -->
				<div id="synthese" class="tab-pane fade in active">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Type de compte</th>
								<th>N° de compte</th>
								<th>Solde</th>
								<th>Devise</th>
							</tr>
						</thead>
						<tbody>
							<!--  Noter fonction ng-repeat dans le controller -->
							<!-- Chaque ligne doit être cliquable pour aller sur le compte <tr ng-repeat="(key,compte) in listComptesv | filter:search | offset: (bigCurrentPage - 1) * itemsPerPage | limitTo:itemsPerPage track by $index"> -->
							<tr>


								<td>{{compte.typeCompte}}</td>
								<td>{{compte.numCompte}}</td>
								<td>{{compte.solde}}</td>
								<td>EUROS</td>
							</tr>
						</tbody>
					</table>

				</div>
				<div id="Mes_informations" class="tab-pane fade">
					<!-- Vérifier avec nom des variables données car pas finies -->
					<div class="col-sm-6">
						Nom :&nbsp; {{client.nom}} <br> <br> Email
						:&nbsp;{{client.email}} <br> <br> Numéro de la rue :
						&nbsp; {{client.numRue}} <br> <br> Code postal :
						&nbsp;{{client.cp}}&nbsp;&nbsp;&nbsp; <br> <br>
						Situation maritale
						:&nbsp;{{client.situMaritale}}&nbsp;&nbsp;&nbsp;
					</div>
					<div class="col-sm-6">
						Prénom :&nbsp; {{client.prenom}} <br> <br> Téléphone
						:&nbsp;{{client.telephone}} <br> <br> Nom de la rue :
						&nbsp;{{client.nomRue}} <br> <br> Ville
						:&nbsp;{{client.ville}} <br> <br> Nombre d'enfants :
						&nbsp;{{client.nbEnfant}}

					</div>
					<br> <br> <br>

					<div ng-controller="modifInfo">
						<center>
							<button class="btn btn-secondary" ng-click="modif()">Modifier</button>
						</center>

						<div ng-show="showMe">

							<form class="formModif">
								<div class="row">
									<div class="col-sm-6">

										<label for="name">Nom :&nbsp</label> <input
											class="form-control" type="text" name="name" /> <br> <label
											for="email">Email : &nbsp</label> <input class="form-control"
											type="text" name="email" /> <br
										<label for="numrue">Numéro de rue : &nbsp</label> <input
											class="form-control" type="number" name="numrue" /> <br>
										<label for="cp">Code postal: &nbsp</label> <input
											class="form-control" type="number" name="cp" /> <br> <label
											for="situation matrimoniale"> Situation matrimoniale
											:&nbsp</label> <select class="form-control">
											<option>Célibataire</option>
											<option>Concubinage</option>
											<option>Pacte civil de solidarité</option>
											<option>Vie maritale</option>
										</select>
									</div>
									<div class="col-sm-6">
										<label for="lastname">Prénom :&nbsp</label> <input
											class="form-control" type="text" name="lastName" /> <br>
										<label for="tel">Téléphone : &nbsp</label> <input
											class="form-control" type="text" name="tel" /> <br> <label
											for="nomrue">Nom de la rue : &nbsp</label> <input
											class="form-control" type="text" name="nomrue" /> <br> <label
											for="ville">Ville :&nbsp </label> <input class="form-control"
											type="text" name="ville" /> <br> <label
											for="nombre d'enfants"> Nombre d'enfants :&nbsp</label> <select
											class="form-control">
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5 et plus</option>
										</select>
									</div>

								</div>
							</form>
							<br>
							<center>
								<button class="btn btn-secondary">Confirmer</button>
							</center>
						</div>

					</div>

				</div>


				<div id="Mes_alertes" class="tab-pane fade"></div>

			</div>
			
			<!--  
		<li ng-controller="tempCtrl"
			uib-popover-template="dynamicPopover.templateUrl"
			popover-placement="{{placement.selected}}"
			popover-title="{{dynamicPopover.title}}"
			popover-trigger="'outsideClick'"><a href="#Effectuer_virement">
				Effectuer un virement</a></li>
		-->
			
<!-- 
			<div class="tab-content">

				<div id="compte1" class="tab-pane fade"></div>
				<div id="compte2" class="tab-pane fade"></div>
				<div id="Mes_opérations" class="tab-pane fade in active">
					<!-- ICI CONTENU DE MES OPERATIONS -->
	<!--
			</div>
	 -->
				<!--  <div id="Effectuer_virement" class="tab-pane fade" >
          
      
        
        <?php
         include("../MyGestiBank/virement.php"); 
         ?>
             
        </div>
               -->
           <!--  
				<div id="Editer_un_RIB" class="tab-pane fade">
					<!-- ici contenu d'éditer un RIB -->
			<!--
				</div>
				<div id="Demande_modif_compte" class="tab-pane fade"></div>
				<div id="Demande_chequier" class="tab-pane fade"></div>
				<div id="Demande_ouverture_compte" class="tab-pane fade"></div>
			-->
