<meta charset="UTF-8">
<div>
	<h3>Détails de la demande d'inscription</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>N° demande</th>
				<th>Demandeur</th>
				<th>Conseiller</th>
				<th>Etat</th>
			</tr>
		</thead>
		<tbody>
			<!--   PAS DE BOUCLE ICI SEULES LES INFOS DE LA DEMANDE SELECTIONNEE SONT AFFICHEES -->
			<td>{{demande.dateDemande | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>{{demande.ref}}</td>
			<td>{{demande.ficheInsc.nom}} {{demande.ficheInsc.prenom}}</td>
			<td>{{demande.exp.nom}} {{demande.exp.prenom}} </td>
			<td>{{demande.etatDemande}}</td>
		</tbody>
	</table>
	<div>
		<div class="col-sm-6">
			Nom : &nbsp;{{demande.ficheInsc.nom}} <br> <br> Email :
			&nbsp;{{demande.ficheInsc.email}} <br> <br> Numéro de la rue
			: &nbsp; {{demande.ficheInsc.adresse.numDeRue}} <br> <br> Code postal
			: &nbsp;{{demande.ficheInsc.adresse.codePostale}}&nbsp;&nbsp;&nbsp; <br> <br>
			Situation matrimoniale : &nbsp;
			{{demande.ficheInsc.situationMaritale}} <br> <br>
		</div>
		<div class="col-sm-6">
			Prénom : &nbsp; {{demande.ficheInsc.prenom}} <br> <br>
			Téléphone :&nbsp;{{demande.ficheInsc.tel}} <br> <br>
			Nom de la rue : &nbsp;{{demande.ficheInsc.adresse.nomRue}} <br> <br>
			Ville :&nbsp;{{demande.ficheInsc.adresse.ville}} <br> <br> Nombre
			d'enfants : &nbsp; {{demande.ficheInsc.nbrEnfants}}
		</div>
		<br> <br>
	</div>
	<br> <br>
	<div>

		<h4>Documents téléchargés</h4>

		{{ficheInscriptions.documentsUploades}} <br> <br>


		<h4>Commentaires du conseiller :</h4>
		{{ficheInscriptionsAffectee.commentaire}}
	</div>
	<br> <br>
	<div>
		<label for="choixConseiller"> Réaffecter à  :&nbsp;</label> 
		<select class="form-control" ng-model="conseillerSelected"
					ng-options="conseiller.username for conseiller in listConseillers">
						<option>{{conseiller.username}}</option>
				</select>
		</td>
		<td><button class="btn btn-secondary" ng-click="affecter({idDemande:demande.ref,idConseiller:conseillerSelected.id})">Confirmer</button>
	</div>

</div>
