<meta charset="UTF-8">
<div>
	<h3>Détails de la demande d'inscription</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Date</th>
				<th>N° demande</th>
				<th>Demandeur</th>
				<th>Conseiller</th>
				<th>Etat</th>
			</tr>
		</thead>
		<tbody>
			<!--   PAS DE BOUCLE ICI SEULES LES INFOS DE LA DEMANDE SELECTIONNEE SONT AFFICHEES -->
			<td>{{demandeInscription.dateDemande}}</td>
			<td>{{inscription.num}}</td>
			<td>{{demandeInscription.user}}</td>
			<td>{{demandeInscription.conseillerAffecte}}</td>
			<td>{{demandeInscription.etat}}</td>
		</tbody>
	</table>
	<div>
		<div class="col-sm-6">
			Nom : &nbsp;{{ficheInscription.nom}} <br> <br> Email :
			&nbsp;{{ficheInscription.email}} <br> <br> Numéro de la rue
			: &nbsp; {{ficheInscription.numRue}} <br> <br> Code postal
			: &nbsp;{{ficheInscription.cp}}&nbsp;&nbsp;&nbsp; <br> <br>
			Situation matrimoniale : &nbsp;
			{{ficheInscription.situtionMatrimoniale}} <br> <br>
		</div>
		<div class="col-sm-6">
			Prénom : &nbsp; {{ficheInscription.prenom}} <br> <br>
			Téléphone :&nbsp;{{ficheInscription.telephone}} <br> <br>
			Nom de la rue : &nbsp;{{ficheInscription.nomRue}} <br> <br>
			Ville :&nbsp;{{ficheInscription.ville}} <br> <br> Nombre
			d'enfants : &nbsp; {{ficheInscription.nbreEnfant}}
		</div>
		<br> <br>
	</div>
	<br> <br>
	<div>

		<h4>Documents téléchargés</h4>

		{{ficheInscriptions.documentsUploades}} <br> <br>


		<h4>Commentaires du conseiller :</h4>
		{{ficheInscriptionsAffectee.commentaire}}
	</div>
	<br> <br>
	<div>
		<label for="choixConseiller"> Réaffecter à  :&nbsp;</label> <select
			class="form-control">
			<option>{{conseiller.mle}} {{conseiller.nomConseiller}}</option>
			<option>{{conseiller.mle}} {{conseiller.nomConseiller}}</option>
			<option>{{conseiller.mle}} {{conseiller.nomConseiller}}</option>
			<option>{{conseiller.mle}} {{conseiller.nomConseiller}}</option>
			<option>{{conseiller.mle}} {{conseiller.nomConseiller}}</option>
		</select>
		</td>
		<td><button class="btn btn-secondary">Confirmer</button>
	</div>

</div>
