<meta charset="UTF-8">
<div>
	<h3>Nouvelles demandes d'inscription</h3>
          <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Date</th>
                      <th>Demandeur</th>
                      <th>Choix du conseiller</th>
                  </tr>
                </thead>
                <tbody>
                   <tr>
                   		<td>{{demande.dateDemande}}</td>
                      	<td>{{demande.nomDemandeur}}</td>
                      	<td><label for="choixConseiller"> Choix du conseiller :&nbsp;</label>
				        <select class="form-control">
				           	  <option>{{conseiller.mle}} {{conseiller.nomConseiller}} </option>
					          <option>{{conseiller.mle}} {{conseiller.nomConseiller}} </option>
					          <option>{{conseiller.mle}} {{conseiller.nomConseiller}} </option>
					          <option>{{conseiller.mle}} {{conseiller.nomConseiller}} </option>
					          <option>{{conseiller.mle}} {{conseiller.nomConseiller}} </option>
				          </select></td>
				        <td><button class="btn btn-secondary">Affecter</button></td>               
				     </tr>
                    <tr ng-repeat="(key,cpt) in listComptes | filter:search | offset: (bigCurrentPage - 1) * itemsPerPage | limitTo:itemsPerPage track by $index">
          
                      <td>{{cpt.nClient}}</td>
                      <td>{{cpt.nom}}</td>
                      <td>{{cpt.solde}}</td>               
                    </tr>

                </tbody>
            </table>
             <ul ng-if="bigTotalItems > itemsPerPage" uib-pagination  total-items="bigTotalItems"  ng-model="bigCurrentPage" items-per-page= "itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></ul>
  </div>