<meta charset="utf-8">

<div class="ouvertureCompte">
  <form>
  	<center><h2>Demande d'ouverture de compte : </h2></center>
  		<label for="typeCompte">Type de compte : </label>
  		<select class="form-control">
  			<option>Compte courant</option>
  			<option>Compte rémunéré</option>
  		</select>
  		<br>
	  		<label for="choixDecouvert">Souhaitez-vous demander une autorisation de découvert pour ce compte?  </label>
	  		<select class="form-control">
	  			<option>Oui</option>
	  			<option>Non</option>
	  		</select>
  			<p>
  			Votre demande sera traitée par votre conseiller dans un délai de 48h00.
  			</p>
  			<div class="form-group">
  				<label for="comment">Informations complémentaires :</label><br>
  					<textarea class="form-control" rows="10" cols="60"></textarea>
  					</div>

  </form>
  	<button class="btn btn-secondary" >Soumettre</button>
	
</div>
