<meta charset="utf-8">

<div class="chequier">
	<center>
		<h2>Demander un chéquier :</h2>
	</center>
	<center>
		<label for="demandeChequier"> Choix du compte :&nbsp;</label> 
		<select	class="form-control" ng-model="compteSelected"
		ng-options="compte.codeCompte for compte in listComptes">
		<option ng-value={{compte}}>{{compteSelected.codeCompte}}</option>
	</select>
	<br>
		<br>
		<button class="btn btn-secondary" ng-click="confirmerDemande(compteSelected)">Confirmer</button>
		<p>Votre demande sera traitée par votre conseiller dans un délai
			de 48h00.</p>
	</center>
</div>

