<meta charset="utf-8">

<div class="chequier">
	<center>
		<h2>Demander un chéquier :</h2>
	</center>
	<center>
		<label for="demandeChequier"> Choix du compte :&nbsp;</label> <select
			class="form-control">
			<option>{{compte.typeCompte}} {{compte.numCompte}} Compte
				courant 12345678910 &nbsp;&nbsp;&nbsp;</option>
			<option>{{compte.typeCompte}} {{compte.numCompte}} Compte
				courant 6574352689 &nbsp;&nbsp;&nbsp;</option>
		</select><br>
		<br>
		<button class="btn btn-secondary">Confirmer</button>
		<p>Votre demande sera traitée par votre conseiller dans un délai
			de 48h00.</p>
	</center>
</div>

