<meta charset="utf-8">

<div class="RIB">
	<center>
		<h2>Editer un RIB :</h2>
	</center>
	<center>
		<label for="editerRIB"> Choix du compte :&nbsp;</label> <select
			class="form-control">
			<option>{{compte.typeCompte}} {{compte.numCompte}} Compte
				courant 12345678910 &nbsp;&nbsp;&nbsp;</option>
			<option>{{compte.typeCompte}} {{compte.numCompte}} Compte
				courant 6574352689 &nbsp;&nbsp;&nbsp;</option>
		</select><br>
		<br>
		<button class="btn btn-secondary">Confirmer</button>
	</center>
</div>





