<meta charset="utf-8">
<h2>Mes informations</h2>
<div id="Mes_informations">
	<!-- Vérifier avec nom des variables données car pas finies -->
	<div class="col-sm-6">
	    N° de client:&nbsp; {{currentUser.codeClient}} <br><br>
		Nom :&nbsp; {{currentUser.nom}} <br> <br> Email
		:&nbsp;{{currentUser.email}} <br> <br> Numéro de la rue :
		&nbsp; {{currentUser.address.numDeRue}} <br> <br> Code
		postal : &nbsp;{{currentUser.address.codePostale}}&nbsp;&nbsp;&nbsp; <br>
		<br> Situation maritale
		:&nbsp;{{currentUser.situationMaritale}}&nbsp;&nbsp;&nbsp;
	</div>
	<div class="col-sm-6">
		Mon conseiller:&nbsp; {{currentUser.conseiller.prenom}} {{currentUser.conseiller.nom}}<br><br>
		Prénom :&nbsp; {{currentUser.prenom}} <br> <br> Téléphone
		:&nbsp;{{currentUser.tel}} <br> <br> Nom de la rue :
		&nbsp;{{currentUser.address.nomRue}} <br> <br> Ville
		:&nbsp;{{currentUser.address.ville}} <br> <br> Nombre
		d'enfants : &nbsp;{{currentUser.nbrEnfants}}
	</div>


	<div>
		<center>
			<button class="btn btn-secondary" ng-click="modif()">Modifier</button>
		</center>
	</div>
</div>
<div ng-show="showMe">

	<form class="formModif">
		<div class="row">
			<div class="col-sm-6">

				<label for="name">Nom :&nbsp</label> 
				<input class="form-control"	type="text" name="name" value="{{currentUser.nom}}" ng-model="currentUser.nom"/> 
					<br> <label	for="email">Email : &nbsp</label>
					 <input class="form-control"type="text" name="email" value="{{currentUser.email}}" ng-model="currentUser.email"/> 
					 <label for="numrue">Numéro de rue : &nbsp</label> 
					 <input class="form-control" type="number" name="numrue" value="{{currentUser.address.numDeRue}}" ng-model="currentUser.address.numDeRue"/>
				<br> <label for="cp">Code postal: &nbsp</label> 
				<input class="form-control" type="number" name="cp" value="{{currentUser.address.codePostale}}" ng-model="currentUser.address.codePostale"/> <br> 
				<label for="situation matrimoniale"> Situation matrimoniale :&nbsp</label>
				<select class="form-control" ng-model="currentUser.situationMaritale">
					<option>Célibataire</option>
					<option>Concubinage</option>
					<option>Pacte civil de solidarité</option>
					<option>Vie maritale</option>
				</select>
			</div>
			<div class="col-sm-6">
				<label for="lastname">Prénom :&nbsp</label> 
				<input class="form-control" type="text" name="lastName" value="{{currentUser.prenom}}" ng-model="currentUser.prenom"/> <br> 
				<label for="tel">Téléphone : &nbsp</label> 
				<input class="form-control" type="text" name="tel" value="{{currentUser.tel}}" ng-model="currentUser.tel"/> <br> 
				<label for="nomrue">Nom de la rue : &nbsp</label> 
				<input class="form-control" type="text" name="nomrue" value="{{currentUser.address.nomRue}}" ng-model="currentUser.address.nomRue"/> <br> 
				<label for="ville">Ville :&nbsp	</label> 
				<input class="form-control" type="text" name="ville" value="{{currentUser.address.ville}}" ng-model="currentUser.address.ville"/> <br>
				<label for="nombre d'enfants"> Nombre d'enfants :&nbsp</label> 
				<select	class="form-control" ng-model="currentUser.nbrEnfants">
					<option>0</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5 et plus</option>
				</select>
			</div>
		</div>
	</form>
	<br>
	<center>
		<button class="btn btn-secondary" ng-click="updateInfos(currentUser)">Confirmer</button>
	</center>
</div>

</div>

</div>
<!-- 
<img src="static/images/chantier.jpg" style="width: 804px; height: 408px">
 -->