<meta charset="utf-8">
<div>
		<h4>Etat de mes demandes</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>N° de la demande</th>
					<th>Libellé</th>
					<th>Etat</th>
				</tr>
			</thead>
			<tbody>
				 Noter fonction ng-repeat dans le controller
				<tr>
					<td>{{notif.demande.date}}</td>
					<td>{{notif.demande}}</td>
					<td>{{notif.demande}}</td>
					<td>{{notif.demande.etat}}</td>
				</tr>
			</tbody>
		</table>
	</div>