<meta charset="UTF-8">
<div id="comptesClients" >
    <h3>Gestion des comptes clients </h3>
        <div>
        <select class="form-control">
	           <option>Recherche par nom : </option>
	           <option>Recherche par n° de client : </option>
          </select>
          	<input class="form-control" type="text" name="recherche"/>
          	<button class="btn btn-secondary">Rechercher</button>
    	 </div>
          <table class="table table-striped">
                <thead>
                  <tr>
                      <th>N° Client</th>
                      <th>Nom du client</th>
                      <th>N° de compte</th>
                      <th>Solde</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody >
                    <!-- <tr ng-repeat="(key,client) in listClients | filter:search | offset: (bigCurrentPage - 1) * itemsPerPage | limitTo:itemsPerPage track by $index"> -->
          			<tr ng-repeat="(key,compte) in listComptes  track by $index">
                      <td>{{compte.client.codeClient}}</td>
                      <td>{{compte.client.nom}}</td>
                      <td>{{compte.codeCompte}}</td>           
                      <td>{{compte.solde}}</td>
                       <a ui-sref="espaceConseiller.syntheseComptesClient" href="#" class="btn btn-secondary" ng-click="syntheseComptesClient">Consulter</a>                 
                    </tr>
                    </tr>
                </tbody>
            </table>
             <ul ng-if="bigTotalItems > itemsPerPage" uib-pagination  total-items="bigTotalItems"  ng-model="bigCurrentPage" items-per-page= "itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></ul>
  </div>