<meta charset="UTF-8">
<div id="comptesClients" >
          <table class="table table-striped">
                <thead>
                  <tr>
                      <th>N° Client</th>
                      <th>Nom du client</th>
                      <th>Solde</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,cpt) in listComptes | filter:search | offset: (bigCurrentPage - 1) * itemsPerPage | limitTo:itemsPerPage track by $index">
          
                      <td>{{cpt.nClient}}</td>
                      <td>{{cpt.nom}}</td>
                      <td>{{cpt.solde}}</td>               
                    </tr>
                    </tr>
                </tbody>
            </table>
             <ul ng-if="bigTotalItems > itemsPerPage" uib-pagination  total-items="bigTotalItems"  ng-model="bigCurrentPage" items-per-page= "itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></ul>
  </div>