
<meta charset="UTF-8">
<div id="demandesClients" class="tab-pane fade in active">
            <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Date</th>
                      <th>N° Client</th>
                      <th>Nom du client</th>
                      <th>Libellé de la demande</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,dem) in listDemandes | filter:search | offset: (bigCurrentPage - 1) * itemsPerPage | limitTo:itemsPerPage track by $index">
                      <td>{{dem.date}}</td>
                      <td>{{dem.nClient}}</td>
                      <td>{{dem.nom}}</td>
                      <td>{{dem.lab}}</td>               
                    </tr>
                    </tr>
                </tbody>
            </table>
             <ul ng-if="bigTotalItems > itemsPerPage" uib-pagination  total-items="bigTotalItems"  ng-model="bigCurrentPage" items-per-page= "itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></ul>
</div>
        
        