<div>
	<h3>Demande de chéquier</h3>
		Demande de {{client.prenom}} {{client.nom}}
		Le {{dem.date}}
		Concernant le compte : {{client.numCompte}}
	<div>
	<button class="btn btn-secondary">Commander</button>
	<!-- Envoi notification au client réception sous 5 jours par courrier -->
	<!-- Indique dans tableau du conseiller demandeClients.html dans la colonne Etat : acceptée -->
	<button class="btn btn-secondary>">Refuser</button>
	<!-- Envoi une notification au client -->
	<!-- Indique dans tableau du conseiller demandeClients.html dans la colonne Etat : refusée -->
	</div>
</div>
