
<meta charset="UTF-8">
<div id="inscriptions" >
      <table class="table table-striped">
                <thead>
                  <tr>
                      <th>Date</th>
                      <th>Demandeur</th>
                      <th>Etat de la demande</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,ins) in listdemIns | filter:search | offset: (bigCurrentPage - 1) * itemsPerPage | limitTo:itemsPerPage track by $index">
          
                      <td>{{ins.date}}</td>
                      <td>{{ins.nom}}</td>
                      <td>{{ins.etat}}</td>               
                    </tr>
                    </tr>
                </tbody>
            </table>
             <ul ng-if="bigTotalItems > itemsPerPage" uib-pagination  total-items="bigTotalItems"  ng-model="bigCurrentPage" items-per-page= "itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></ul>

    </div>